// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-ww: #ffffff;
	--ion-color-ww-rgb: 255,255,255;
	--ion-color-ww-contrast: #000000;
	--ion-color-ww-contrast-rgb: 0,0,0;
	--ion-color-ww-shade: #e0e0e0;
	--ion-color-ww-tint: #ffffff;
}

.ion-color-ww {
	--ion-color-base: var(--ion-color-ww);
	--ion-color-base-rgb: var(--ion-color-ww-rgb);
	--ion-color-contrast: var(--ion-color-ww-contrast);
	--ion-color-contrast-rgb: var(--ion-color-ww-contrast-rgb);
	--ion-color-shade: var(--ion-color-ww-shade);
	--ion-color-tint: var(--ion-color-ww-tint);
}